<script src='./createAndSearchPostingView.js'></script>
<!doctype html>
<html lang="en">
<head>
	<!-- meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		  crossorigin="anonymous">

	<title>Search Postings</title>

	<style>
		.jumbotron {
			background-color: #FFE4B5;
			color: black;
			padding: 15px;
		}
	</style>
</head>

<body>
<div class="container-fluid">
	<div class="page-header">
		<h1>Search for Job Postings</h1>
	</div>

	<div class="row">
		<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
			<div class="jumbotron">
				<p class="lead">Search job postings by: </p>
				<hr class="my-4">
				<table class='table'>
					<input hidden='true'
						   id='postingId'
						   data-fieldid='postingId'>
					<tr>
						<td>
							Title:
						</td>
						<td>
							<input hidden = 'false' 
								   type='title'
								   id='title'
								   data-fieldid='title'
								   style="width:250px"
							/>
						</td>
					</tr>
					<tr>
						<td>
							City Name:
						</td>
						<td>
							<input type='cityName'
								   id='cityName'
								   data-fieldid='cityName'
								   style="width:250px"
							/>
						</td>
					</tr>
					<tr>
						<td>
							State:
						</td>
						<td>
							<input type='state'
								   id='state'
								   data-fieldid='state'
								   style="width:250px"
							/>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div>
			<button id="searchButton" role="button"style="padding-bottom: 20px" class="btn btn-success btn-lg" onclick='searchPostings()'>
				Search Job Postings
			</button>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html> 
